/* PaymentSuccess.css */
.payment-success-container {
    text-align: center;
    padding: 50px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
  }
  
  .success-message {
    color: #8e3838;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .payment-success-container p {
    font-size: 1.2rem;
    color: #333;
  }
  
  .cta-button {
    background-color: #8e3838;
    color: white;
    padding: 15px 30px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  .cta-button:hover {
    background-color: #6c2c2c;
  }
  
  .cta-button:focus {
    outline: none;
  }
  